a{
    color: #000;
}
a:hover {
    text-decoration: none;
    color: red;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}
.navbar1{
    height: 30px;
}
.nav_l{
    width: auto;
    float: left;
}
.nav_l ul li{
    float: left;
    list-style: none;
    padding: 0 5px;
    line-height: 30px;
    font-size: 12px;
}
.nav_r{
    width: auto;
    float: right;
}
.nav_r ul li{
    float: left;
    list-style: none;
    padding: 0 5px;
    line-height: 30px;
    font-size: 12px;
}
.navbar2{
    margin-bottom: -20px;
}
.swiper-container
{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    width: 100%;
}

.swiper2 .swiper-slide{
    background-color: #000;
}
.swiper2 .swiper-slide dt{
    float: left;
    cursor: pointer;
}
.swiper2 .swiper-slide dd{
    float: right;
}
.swiper2 .swiper-slide p img{
    width: 25px;
    cursor: pointer;
}
.banner{
    background-color: #000;
}
.focus_items{
    position: relative;
    background-color: #000;
    height: auto;
    padding-top: 20px;
}
.state{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.footer{
    color: #555;
    font-size: 12px;
    padding-bottom: 20px;
}