.content{
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 80px;
    background-color: #eee;
}
.container{
    background-color: #fff;
}
.title{
    font-weight: bold;
}
form{
    border-top: 1px solid #ccc;
    padding: 20px;
}
input{
    cursor: pointer;
}
.regBtn{
    width: 100%;
}
.protocol{
    font-size: 12px;
}
.protocol a{
    color: red;
}
.prompt{
    height: 14px;
    font-size: 12px;
    line-height: 14px;
}
